<!DOCTYPE html>
<html>
  <head>
    <title>KoukanRyugaku</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      HEAD
      <%= link_to "トップページ", root_path %>
    </header>
    <%= yield %>
    <footer>FOOT</footer>
  </body>
</html>
